<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectversion_00">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectVersion00">
        <activity
            android:name=".Common.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Common.SellerList"
            android:exported="false" />
        <activity
            android:name=".Common.BuyMe"
            android:exported="false" />
        <activity
            android:name=".Common.SellMe"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.Signup"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.Login"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.StartupScreen"
            android:exported="false" />
        <activity
            android:name=".Common.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".Common.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>